<html>
  <head>
    <title>Labyrinth</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script> -->
    <script src='/static/javascript/main.js'></script>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
  </head>
  <body>
    <img src="/static/start.png" width="800"/>
    <p>
      <a id="to_current_problem" href="<%= currProblemUrl %>">현재 문제로 가기</a>
    </p>
    <br />
    <br />
    <span>
      이전 문제 목록
    </span>
    <div id="past_problem_list">
      <% for (let i = 0; i < problems.length; i++) { %>
        <span><a href="/problems/<%= problems[i].number %>"><%= problems[i].number %></a></span>
      <% } %>
    </div>
    <br />
    <span>
      이전 스토리 목록
    </span>
    <div id="past_story_list">
      <% for (let i = 0; i < stories.length; i++) { %>
        <span><a href="/stories/<%= stories[i].number %>"><%= stories[i].number %></a></span>
      <% } %>
    </div>
    <div id="footer">
      <span>Created by 새내기프로그램디자이너 & SPARCS</span>
    </div>
  </body>
</html>
